.brand-images {
    width: 90%;
}
.brand-images img{
    width: 10%;
    height: 50px;
    border-radius: 5px;
    margin: 10px 20px;
}
.brand-images img:hover{
    transform: scale(1.1);
}
.best_seller{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    gap: 2%;
    margin-bottom: 2%;
}
.best_product{
    width: 18%;
    height: 400px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    text-align: center;
    box-shadow: 3px 3px 5px gray;
    position: relative;
    margin-bottom: 2%;
}
.best_product:hover{
    transform: scale(1.05);
}
.best_product img{
    width: 90%;
    height: 200px;
    margin-top: 5%;
    border-radius: 5px;
}
.best_product p{
    text-align: start;
    margin-left: 5%;
}
#buy_now{
    position: absolute;
    top: 90%;
    right: 25%;
    width: 50%;
    height: 30px;
    border-radius: 5px;
    background: #00cc00;
    display: flex;
    align-items: center;
    justify-content: center;
}
#buy_now a{
    text-decoration: none;
    color: white;
    padding: 10% 20%;
}
/*#buy_now:hover{
    transform:scale(1.05);
}*/
.delivery{
    display: flex;
    align-items: center;
    margin-top: 2%;
    animation: move 20s infinite linear;
    width: 100%;
}
.delivery img{
    width: 100px;
    height: 50px;
}
.delivery p{
    color: white;
}
@keyframes move{
    from{
        transform: translate(-40%,0);
    }
    to{
        transform: translate(100%,0);
    }
}